.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
}

h3{
    margin: auto;
    width: 50%;
    
    padding: 10px;
}

body {
    background-color: #b4afaf;
    margin: 20px;
}


